<nav class="navbar px-5 navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Animal Crossing</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="fish">Fish </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="bug">Bugs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sea">Sea Creatures </a>
      </li>
    </ul>

    <!-- <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a href="/Three" class="nav-link topnav-right" routerLink="Three">Three</a>
      </li>
      <li class="nav-item ">
        <a href="/Four" class="nav-link topnav-right" routerLink="Four">Four</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href class="nav-link topnav-right" (click)="logout()">Five</a>
      </li>
    </ul> -->
  </nav>