<div *ngIf="fishList.length===0;then thenBlock;else elseBlock"></div>
<ng-template #thenBlock>Loading</ng-template>
<ng-template #elseBlock>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th>Size</th>
				<th>Sell Price</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let elem of fishList">
				<td>{{elem.name}}</td>
				<td>{{elem.location}}</td>
				<td>{{elem.size}}</td>
				<td>{{elem.price}}</td>
				<td>{{elem.time}}</td>
			</tr>
		</tbody>
	</table>
</ng-template>